a {
   text-decoration: none; 
   color: white;
}

.person-list {
    border: 1px solid black;
   width: 100%;
   font-size: 1.1rem;
   display: flex;
   flex-flow: column nowrap;
   background-color: gray;
   justify-content: center;
}